<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="angular.min.js"></script>
    </head>
    <body ng-app="myapp" ng-init="welcome = {message:'Welcome to my store'};">
        <div ng-controller="myfirstcontroller" class="container">
            <h2> {{welcome.message}} </h2>
            <input type="text" ng-model="itemname" class="form-control">
            <table class="table table-stripped">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Stock</th>
                </tr>
                </thead>
            <tr ng-repeat="grocery in groceries | orderBy: 'name' | filter: itemname">
                <td >{{grocery.name | uppercase}}</td><td>{{grocery.instock}}</td>
            </tr>
            </table>
        </div>
        <div ng-controller="calculator">
            <input type="text" ng-model="first">/
            <input type="text" ng-model="second">
            <br><br>
            <button ng-click="updatecalculation()">Sum</button>
            <br><br>
            <span>{{calculation}}</span>
        </div>
    </body>
    <script type="text/javascript" src="main.js"></script>
</html>
